.page-header
  %h1
    =t '.title', :default => params[:search] || "Word List"

.navbar.affix-top{"data-offset-top" => "80", "data-spy" => "affix"}
  #words_pagination.pagination
    %ul
      - @words.keys.each do |first_letter|
        %li= link_to(first_letter.capitalize, "##{first_letter}")
        
- @words.each do |first_letter, words|
  %h2.word-start-letter{ id: "#{first_letter}" }
    = first_letter.capitalize
  %table.table.table-striped.word-table
    %tbody
      - words.each_with_index do |word, index|
        %tr
          %td.span1.index= index + 1
          %td.word-lemma= link_to word.lemma, word_path(word)
          %td= word.definition